@import 'settings.scss';

.about {
  padding-top: 55px;
  padding-left: 20px;
  padding-right: 20px;
}

  .about__header {
    color: $color-black;
    font-size: $font-large;
    text-align: center;
  }

  .about__description {
    font-size: $font-medium;
  }
