@import 'mixins.scss';
@import 'settings.scss';

.main-section {
  width: 90%;
  @include simpleBoxShadow;
  margin: 1px;
  border-radius: $global-radius;
}

  .main-section__header {
    font-size: $font-medium;
    text-align: center;
  }

  .main-section__list {
    list-style: none;
    padding: 15px;
  }

